################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FiveWordsFiveLetters/.vs/FiveWordsFiveLetters
